{% extends 'skeleton.html' %}

{% block title %}{{ user.name }} - Rash Driving Analyser{% endblock title %}

{% block body %}

	<h2 class="text-center my-4">Welcome {{ user.name }}</h2>

	<h4 class="mx-4">Statistics:</h4>

	<table class="mx-5 my-2">
		<tr>
			<td>Number of Vehicles:</td>
			<td>{{ vehicle_count }}</td>
		</tr>
	</table>

	<div class="d-flex mx-2">
		<h4 class="ms-3">Your vehicles:</h4>
		<button type="button" class="ms-auto btn btn-steel" data-bs-toggle="modal" data-bs-target="#add_vehicle_modal">+ Add vehicle</button>
		<div class="model fade" id="add_vehicle_modal" tabindex="-1">
			<div class="modal-dialog">
				<form class="mx-auto my-5 p-4" method="post" enctype=multipart/form-data>
					<fieldset>
						<legend class="text-center">Add Vehicle</legend>
						<label class="form-label">Vehicle name</label>
						<input type="text" name="name" class="form-control" required>
						<label class="form-label">Vehicle number</label>
						<input type="text" name="number" class="form-control"><br>
						<label class="form-label">Vehicle image</label>
						<input type="file" name="image"><br><br>
						<input type="submit" value="Add Vehicle" class="btn btn-steel w-100">
					</fieldset><br>

					{% if error_code == 1 %}
						<div class="alert alert-danger" role="alert">
							Wrong email or password. Please try again.
						</div>
					{% endif %}
					{% if error_code == 2 %}
						<div class="alert alert-danger" role="alert">
							Email doesn't exist. Register to login.
						</div>
					{% endif %}
				</form>
				<div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Save changes</button>
			    </div>
			</div>
		</div>
	</div>

	<div class="row row-cols-1 row-cols-sm-3 mx-1">

		{% for vehicle in vehicles %}

		<div class="card-group my-2">
			<div class="card h-100">
				<img src="{{ '/uploads/' + vehicle.vehicle_image }}" class="img-fluid p-1">
				<div class="card-body">
					<a href="{{ '/vehicle/' + vehicle.vehicle_id | string }}" class="stretched-link">
					<h5 class="card-title">{{ vehicle.vehicle_name }}</h5>
					<p class="card-text">{{ vehicle.vehicle_number }}</p>
					</a>
				</div>
			</div>
		</div>

		{% endfor %}

	</div>

{% endblock body %}