{% extends 'skeleton.html' %}

{% block title %}{{ vehicle.vehicle_name }} - Rash Driving Analyser{% endblock title %}

{% block body %}

<div class="d-flex m-3">
	<div class="flex-fill">
		<h3>{{ vehicle.vehicle_name }}</h3>
		<h4>{{ vehicle.vehicle_number }}</h4>
		{% if data  %}
		<!-- <h5>Last incident: {{ data[-1].driving_vehicle_speed }} | {{ data[-1].nearby_vehicle_speed }} | {{ data[-1].nearby_vehicle_distance }}</h5> -->
		<h5>Last location: <a href="https://www.google.com/maps/search/?api=1&query={{ data[-1].latitude }}%2C{{ data[-1].longitude }}"><i class="bi bi-geo-alt-fill"></i></a></h5>
		{% else %}
		<h5>No driving data is available</h5>
		{% endif %}
	</div>

	<img src="{{ '/uploads/' + vehicle.vehicle_image }}" class="car-picture">

	<div>
		<div class="level-box">
			<div class="percentage">78.8%</div>
			<div class="level">SAFE</div>
		</div>
	</div>

</div>

<div class="row m-3">

	<div class="col card m-2">
		<canvas id="incident-type-bar-chart" class="img-fluid"></canvas>
		<script>
			const incident_labels = [
			'Overtaking',
			'Close calls',
			'Sudden braking & acceleration',
			];

			const incident_data = {
				labels: incident_labels,
				datasets: [{
					label: 'Count',
					backgroundColor: 'rgb(50, 100, 150)',
					data: [10, 5, 25],
				}]
			};

			const incident_config = {
				type: 'bar',
				data: incident_data,
				options: {
					scales: {
			            y: {
			                beginAtZero: true
			            }
			        }
				}
			};

			const incidentChart = new Chart(
				document.getElementById('incident-type-bar-chart'),
				incident_config
				);
			</script>
		</div>

		<div class="col card m-2">
			<canvas id="frequency-line-chart" class="img-fluid"></canvas>
			<script>
				const frequency_labels = [
				'5/11',
				'6/11',
				'7/11',
				'Yesterday',
				'Today',
				];

				const frequency_data = {
					labels: frequency_labels,
					datasets: [{
						label: 'Number of incidents',
						backgroundColor: 'rgb(50, 100, 150)',
						data: [5, 15, 12, 10, 13],
					}]
				};

				const frequency_config = {
					type: 'line',
					data: frequency_data,
					options: {
						scales: {
				            y: {
				                beginAtZero: true
				            }
				        }
					}
				};
				const frequencyChart = new Chart(
					document.getElementById('frequency-line-chart'),
					frequency_config
					);
				</script>
			</div>

		</div>

		<div class="m-3">
			<h3>Driving Data</h3>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Data id</th>
						<th>Driving vehicle speed</th>
						<th>Nearby vehicle speed</th>
						<th>Nearby vehicle distance</th>
						<th>Location</th>
					</tr>
				</thead>

				<tbody>
					{% for i in data %}

					<tr>
						<td>{{ i.data_id }}</td>
						<td>{{ i.driving_vehicle_speed }}</td>
						<td>{{ i.nearby_vehicle_speed }}</td>
						<td>{{ i.nearby_vehicle_distance }}</td>
						<td><a href="https://www.google.com/maps/search/?api=1&query={{ i.latitude }}%2C{{ i.longitude }}"><i class="bi bi-geo-alt-fill"></i></a> {{ i.latitude }} | {{ i.longitude }}</td>
					</tr>

					{% endfor %}
				</tbody>

			</table>

		</div>

		{% endblock body %}