html {
  min-height: 100%;
}

body {
	background: linear-gradient(to bottom right, steelblue, 15%, lightsteelblue, 85%, steelblue);
}

nav {
	background-color: #121212;
	box-shadow: 0px 0px 8px;
}

.btn {
	border-radius: 4px;
}

.btn-steel {
	color: black;
	background-color: #BBDDFF;
	border-color: #7799BB;
	transition-duration: 0.3s;

}

.btn-steel:hover {
	color: black;
	background-color: #DDEEFF;
	border-color: #7799BB;
	box-shadow: 0px 4px 8px black;
}

form {
	max-width: 22rem;
	background-color: rgba(0, 0, 0, 0.10);
	border-radius: 4px;
	box-shadow: 0px 2px 8px;
}

.form-subtitle-link {
	padding: 4px;
	font-size: 14px;
	text-decoration: none;
}

.form-subtitle-link:hover {
	text-decoration: underline;
}

.form-control {
	border-color: black;
	border-radius: 4px;
}

.form-label {
	margin-top: 8px;
	margin-bottom: 2px;
}

.stretched-link {
	color: black;
	text-decoration: none;
	transition-duration: 0.3s;
}

.stretched-link:hover {
	color: black;
	text-decoration: none;
	transition-duration: 0.3s;
}

.card {
	background-color: #BBDDFF;
	border-color: #7799BB;
	border-radius: 4px;
	transition-duration: 0.3s;
}

.card:hover {
	background-color: #DDEEFF;
	border-color: #7799BB;
	box-shadow: 0px 4px 8px;
}

.car-image {
	border-color: black;
	border-radius: 4px;
}

.bi {
	color: black;
	transition-duration: 0.3s;
}

.bi:hover {
	color: #484848;
}

.table {
	color: black;
	border-color: black;
}

.car-picture {
	margin-right: 8px;
	max-height: 97px;
	border-radius: 4px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

.level-box {
	background-color: #50C878;
	color: black;
	border-radius: 4px;
	padding: 12px;
	max-width: 128px;
	text-align: center;
	border-color: #35A556;
	border-width: 1px;
	border-style: solid;
}

.percentage, .level {
	text-align: center;
	font-size: 24px;
	font-weight: 700;
}