nav {
	background-color: lightsteelblue;
	box-shadow: 0px 0px 8px;
}

.btn-steel {
	color: black;
	background-color: lightsteelblue;

}

.btn-steel:hover {
	color: white;
	background-color: steelblue;
	box-shadow: 0px 0px 4px black;
}

form {
	max-width: 22rem;
	background-color: rgba(0, 0, 0, 0.10);
	border-radius: 5px;
	box-shadow: 0px 0px 4px;
}

.form-subtitle-link {
	font-size: 14px;
}

.stretched-link {
	color: black;
	text-decoration: none;
	transition-duration: 0.3s;
}

.stretched-link:hover {
	color: black;
	text-decoration: none;
	transition-duration: 0.3s;
}

.card {
	transition-duration: 0.3s;
}

.card:hover {
	box-shadow: 0px 0px 12px;
	transition-duration: 0.3s;
}