@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

* {
	font-family: 'Fira Sans', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	min-height: 100%;
	min-width: 100%;
}

html::-webkit-scrollbar {
      width: 10px;
}

html::-webkit-scrollbar-track {
    background: #557799;
}

html::-webkit-scrollbar-thumb {
	margin: 2px;
    background: #BBDDFF;
}

body {
	background: linear-gradient(to bottom right, steelblue, 20%, #BBDDFF, 80%, steelblue);
	/*background: radial-gradient(lightsteelblue 50%, steelblue);*/
	display: flex;
	flex-flow: column;
	min-height: 85vh;
}

.display h1 {
	font-size: 64px;
	letter-spacing: 1px;
}

.display h4 {
	margin: 8px 0px 16px 0px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
	margin: 16px 8px;
}

p {
	margin: 8px;
	line-height: 1.5;
}

section {
	padding: 24px;
	text-align: justify;
}

header nav {
	color: #AACCEE;
	display: flex;
	padding: 18px;
	justify-content: flex-end;
	align-items: center;
	background: #121212;
	box-shadow: 0px 0px 4px black;
}

footer {
	color: #AACCEE;
	display: flex;
	padding: 18px;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
}

.nav-link {
    display: inline-block;
	color: #AACCEE;
	text-decoration: none;
	transition: 0.2s ease-in-out;
}

.nav-link:hover {
	color: white;
}

.nav-link:focus {
	outline: none;
	color: white;
}

.nav-link:active {
	color: white;
}

footer {
	display: flex;
	justify-content: flex-start;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.flex-start {
	display: flex;
	flex-wrap: wrap;
}

.flex div {
	margin: 12px;
}

.flex-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.nav-link .bi {
    display: inline-block;
	letter-spacing: 4px;
	transition: 0.2s;
}

.nav-link .bi:hover {
	color: white;
}

.nav-link .bi:focus {
	outline: none;
	color: white;
}

.nav-link .bi:active {
	color: white;
}

.nav-logo {
	//font-family: 'Montserrat', sans-serif;
	margin-right: auto;
}

.footer-logo {
	//font-family: 'Montserrat', sans-serif;
	margin: 24px;
}

.nav-links {
	list-style: none;
	display: flex;

}

.nav-links a {
	padding: 0px 10px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.button, .file-upload-box::file-selector-button {
	display: inline-block;
	color: black;
	text-decoration: none;
	background: #AACCEE;
	border: #557799 solid 1px;
	padding: 12px;
	margin: 0px 8px;
	min-width: 104px;
	transition: 0.2s;
	box-sizing: border-box;
}

.button:hover, .file-upload-box::file-selector-button:hover {
	box-shadow: 0px 0px 8px #557799;
	background-color: #BBDDFF;
	transform: scale(1.05);
}

.button:focus, .file-upload-box::file-selector-button:focus {
	outline: #557799 solid 1px;
	background-color: #BBDDFF;
	box-shadow: 0px 0px 16px #557799;
	transform: scale(1.05);
}

.button:active, .file-upload-box::file-selector-button:active {
	background-color: #BBDDFF;
	padding: 12px;
	box-shadow: 0px 0px 0px #557799;
	border: #557799 solid 1px;
	transform: scale(0.95);
}

.input-box {
	width: 100%;
	padding: 12px;
	margin: 8px 0px;
	background: #DDEEFF;
	border: #557799 solid 1px;
	transition: 0.2s;
}

.input-box:focus {
	background: white;
	box-shadow: 0px 0px 16px #557799;
	outline: #557799 solid 1px;
	transform: scale(1.05);
}

.file-upload-box {
	width: 100%;
	padding: 12px;
	margin: 8px 0px;
	background: #DDEEFF;
	border: #557799 solid 1px;
	transition: 0.2s;
}

.file-upload-box:focus {
	outline: none;
	background: white;
	padding: 11px;
	box-shadow: 0px 0px 16px #557799;
	border: #557799 solid 2px;
	transform: scale(1.05);
}

.file-upload-box:active {
	outline: #557799 solid 1px;
	background: white;
	box-shadow: 0px 0px 16px #557799;
	transform: scale(0.95);
}

.form {
	text-align: center;
	width: 100%;
	max-width: 400px;
	margin: auto;
	padding: 8px;
}

#login-button, #register-button {
	width: 100%;
	margin: 12px 0px;
	max-width: 400px;
}

.grid-vehicle-list {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 20px;
}

.grid-analysis-list {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    grid-gap: 20px;
}

.card-analysis {
	display: grid;
    grid-template-rows: 400px;
    background: rgba(170, 204, 238, 0.75);
}

.card {
	display: grid;
    grid-template-rows: 200px 1fr;
	color: black;
	text-decoration: none;
	background: #AACCEE;
	border: #557799 solid 1px;
	transition: 0.2s;
}

.card-image {
	object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-body {
	padding: 4px;
}

.card-plus {
	grid-template-rows: 1fr;
	align-items: center;
	padding: 24px;
	font-size: 24px;
	text-align: center;
}

.card:hover {
	box-shadow: 0px 0px 8px #557799;
	background-color: #BBDDFF;
	transform: scale(1.05);
}

.card:focus {
	outline: #557799 solid 1px;
	background-color: #BBDDFF;
	box-shadow: 0px 0px 16px #557799;
	transform: scale(1.05);
}

.card:active {
	background-color: #BBDDFF;
	box-shadow: 0px 0px 0px #557799;
	border: #557799 solid 1px;
	transform: scale(0.95);
}

.level-of-recklessness {
	background: #AACCEE;
	border: #557799 solid 1px;
	text-align: center;
	align-self: center;
	padding: 100px;
	font-size: 56px;
	border-radius: 240px;
}
.card-table {
    padding: 12px;
    width: 100%;
	background: rgba(170, 204, 238, 0.75);
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
    padding: 6px;
    border: #557799 solid 1px;
}

.bi {
	display: inline-block;
	color: #335577;
	text-decoration: none;
	padding: 4px;
	margin: 0px 4px;
	transition: 0.2s;
}

.bi:hover {
    color: #557799;
	transform: scale(1.5);
}