{% extends 'skeleton.html' %}

{% block title %}Login - Rash Driving Analyser{% endblock title %}

{% block body %}

<form class="mx-auto my-5 p-4" method="post">
    <fieldset>
        <legend class="text-center">Login</legend>
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" required>
        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control" required><br>
        <input type="submit" value="Login" class="btn btn-steel w-100">
    </fieldset>
    <br>

    <a href="/register" class=" text-center form-subtitle-link">Don't have an account? Click here to register</a><br>

    {% if error_code == 1 %}
    <div class="alert alert-danger" role="alert">
        Wrong email or password. Please try again.
    </div>
    {% endif %}
    {% if error_code == 2 %}
    <div class="alert alert-danger" role="alert">
        Email doesn't exist. Register to login.
    </div>
    {% endif %}

</form>

{% endblock body %}