{% extends 'skeleton.html' %}

{% block title %}Register - Rash Driving Analyser{% endblock title %}

{% block body %}

<div class="form">
    <h2>Register</h2>
    <form method="post">
        {{ register_form.csrf_token }}
        {{ register_form.name(id="name", class="input-box", placeholder="Name") }}
        {{ register_form.email(id="email", class="input-box", placeholder="E-mail") }}
        {{ register_form.password(id="password", class="input-box", placeholder="Password") }}
        {{ register_form.verify_password(id="verify_password", class="input-box", placeholder="Verify Password") }}
        {{ register_form.submit(class="button", id="register-button") }}
    </form>
    <a href="/login" class="text-link">Already have an account? Click here to login instead</a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

{% endblock body %}