<!DOCTYPE html>
<html>
<head>
    {% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock %}
</head>
<body>

	<header>
		<nav>
			<a href="/" class="nav-logo nav-link">Rash Driving Analyser</a>
			<ul class="nav-links">
                {% if 'user_id' not in session %}
				<li><a href="/login" class="nav-link">Login</a></li>
				<li><a href="/register" class="nav-link">Register</a></li>
                {% else %}
				<li><a href="/dashboard" class="nav-link">Dashboard</a></li>
				<li><a href="/logout" class="nav-link">Logout</a></li>
                {% endif %}
			</ul>
		</nav>
	</header>

	{% block body %}{% endblock %}

</body>
</html>