{% extends 'skeleton.html' %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% if vehicle.vehicle_image != None %}
<style type="text/css">
		body {
			background: linear-gradient(rgba(200, 227, 255, 0.75), rgba(200, 227, 255, 0.75)), url("{{ '/uploads/' + vehicle.vehicle_image }}");
			background-size:cover;
			background-position: center center;
		}










</style>
{% endif %}

{% endblock %}

{% block title %}{{ vehicle.vehicle_name }} - Rash Driving Analyser{% endblock title %}

{% block body %}

<section class="flex-start">
    <h2>{{ vehicle.vehicle_name }}</h2>
</section>

<section>
    <h2>Analysis</h2>
    <div class="grid-analysis-list">

        <div class="card-analysis">
            <div id="PieChart" class="card-image"></div>
            <script type="text/javascript">

			      google.charts.load('current', {'packages':['corechart']});
			      google.charts.setOnLoadCallback(drawChart);

			      function drawChart() {
			        var data = new google.visualization.DataTable();
			        data.addColumn('string', 'Incidents');
			        data.addColumn('number', 'Count');
			        data.addRows([
			          ['Close Calls', 8],
			          ['Excessive Speeding', 4],
			          ['Hard Cornering', 3],
			          ['Quick Starts', 2],
			          ['Harsh Braking', 3]
			        ]);

			        var options = {
			        	'title':'What Kind Of Many Incidents Happened',
			        	backgroundColor: {
			        		fillOpacity: 0,
			        	},
			    	};

			        var chart = new google.visualization.PieChart(document.getElementById('PieChart'));
			        chart.draw(data, options);
			      }
            </script>
        </div>

        <div class="card-analysis">
            <div id="BarChart" class="card-image"></div>
            <script type="text/javascript">

			      google.charts.load('current', {'packages':['corechart']});
			      google.charts.setOnLoadCallback(drawChart);

			      function drawChart() {
			        var data = new google.visualization.DataTable();
			        data.addColumn('string', 'Incidents');
			        data.addColumn('number', 'Count');
			        data.addRows([
			          ['Close Calls', 8],
			          ['Excessive Speeding', 4],
			          ['Hard Cornering', 3],
			          ['Quick Starts', 2],
			          ['Harsh Braking', 3]
			        ]);

			        var options = {
			        	'title':'What Kind Of Many Incidents Happened',
			        	backgroundColor: {
			        		fillOpacity: 0,
			        	},
			    	};

			        var chart = new google.visualization.BarChart(document.getElementById('BarChart'));
			        chart.draw(data, options);
			      }
            </script>
        </div>

        <div class="card-analysis">
            <div id="LineChart" class="card-image"></div>
            <script type="text/javascript">
                google.charts.load('current', {packages: ['corechart', 'line']});
                google.charts.setOnLoadCallback(drawBasic);

                function drawBasic() {

                      var data = new google.visualization.DataTable();
                      data.addColumn('date', 'Date');
                      data.addColumn('number', 'Incidents');

                      data.addRows([
                        [new Date(2022, 10, 15), 2],
                        [new Date(2022, 10, 16), 10],
                        [new Date(2022, 10, 17), 23],
                        [new Date(2022, 10, 18), 17],
                        [new Date(2022, 10, 19), 12],
                        [new Date(2022, 10, 20), 3],
                        [new Date(2022, 10, 21), 11],
                        [new Date(2022, 10, 22), 27],
                        [new Date(2022, 10, 23), 23],
                        [new Date(2022, 10, 24), 25],
                        [new Date(2022, 10, 25), 18],
                        [new Date(2022, 10, 26), 20],
                        [new Date(2022, 10, 27), 4],
                        [new Date(2022, 10, 28), 19],
                        [new Date(2022, 10, 29), 24],
                        [new Date(2022, 10, 30), 20],
                      ]);

                      var options = {
                      lineWidth: 3,
                      backgroundColor: {
			        		fillOpacity: 0,
			        	},
                        hAxis: {
                          title: 'Date'
                        },
                        vAxis: {
                          title: 'Incidents'
                        }
                      };

                      var chart = new google.visualization.LineChart(document.getElementById('LineChart'));

                      chart.draw(data, options);
                    }

            </script>
        </div>

    </div>
</section>

{% endblock body %}